<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Facts about the author of 'alpha-blog'.">
    <meta name="author" content="Steven Ward">
    <title>About Me</title>

<style>
body { background-color: hsl(150, 50%, 50%);
       font-size: 1em; }
h1 { color: black;
     font-size: 300%;
     font-style: italic;
     text-decoration: underline; }
p { color: white;
    font-size: 180%; }
ul { font-size: 150%;
     list-style-position: outside;
     list-style-type: none; }
</style>

</head>
<body>
    <h1>About the Author</h1>
    <p>
        <ul>
            <li><i>Name</i>: Steven Ward</li>
            <li><i>Age</i>: 24</li>
            <li><i>Birthday</i>: July 4, 1994</li>
        </ul>
    </p>
    <p><i>More coming soon...</i></p>

    <%= link_to "Home", root_path %>
</body>
</html>
